/* BASE AND RESET */

* { box-sizing: border-box; }

body {
  color: rgba(0, 0, 0, 0.92);
  font-size: 20px;
  margin: 0;
}

input,
button{
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
}
button:focus,
input:focus { 
  outline: 0;
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16),
              0 0 0 3px #849dcd;
  transition: box-shadow 0.25s ease;
}

/* SEARCH FORM */

.search-form {
  background-color: #fac2d0;
  display: flex;
  justify-content: center;
  padding: 24px;
  width: 100%;
}

.search-form-field {
  border: 0;
  border-radius: 8px;
  flex-grow: 1;
  font-size: 16px;
  padding: 12px 16px;
  margin-right: 16px;
  max-width: 512px;
}

.search-form-button {
  background-color: rgba(255, 255, 255, 0.75);
  border: 0;
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 12px;
}

/* IMAGE GRID */

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
  padding: 16px 24px;
}

.image-grid-item {
  cursor: pointer;
  margin: 24px 16px;
  transition: transform 0.25s ease;
}
.image-grid-item:hover,
.image-grid-item:focus {
  outline: 0;
  transform: scale(1.1);
}
.image-grid-item img {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.16);
  display: block;
}

/* GENERICS AND UTILITES */

.circle-button {
  border-radius: 100%;
  background-color: #fff;
  height: 48px;
  width: 48px;
}
